<header class="text-white">
  <div class="w-full pt-3">
    <div class="container d-flex justify-content-between align-items-baseline ">
      <img  width="128" src="assets/images/logo.png" />

      <nav class="d-flex gap-2 fw-bold">
        <a href="#" class="text-white text-decoration-none">Premium</a>
        <a href="#" class="text-white text-decoration-none">Ajuda</a>
        <a href="#" class="text-white text-decoration-none">Baixar</a>
        <a href="#" class="text-white text-decoration-none">Inscrever-se</a>
        <a href="#" class="text-white text-decoration-none">Entrar</a>
      </nav>
    </div>

    <div class="py-5 bg-img w-full">
     <div class="container">
      <h1>
        Aproveite 1 mês grátis de<br>
        Premium
      </h1>

      <h2>Depois, apenas R$ 16,90/mês. Cancele quando quiser.</h2>

      <button class="btn btn-success">VER PLANOS</button>

      <p>São aplicáveis termos e condições</p>
     </div>
    </div>
  </div>
</header>
<main class="w-100">
  <div class="py-5">
    <h2 class="text-center">Porque virar premium?</h2>
    <div class="d-flex gap-2 w-full justify-content-center">
      <div class="align-items-center d-flex flex-column gap-1 p-4">
        <img width="150" src="assets/images/benefit_1.png" />
        <p class="m-0">Baixe suas músicas.</p>
        <p class="m-0">Ouça de onde qusier.</p>
      </div>

      <div class="align-items-center d-flex flex-column gap-1 p-4">
        <img width="150" src="assets/images/benefit_2.png" />
        <p class="m-0">Sem anúncios para interromper.</p>
        <p class="m-0">Ouça música sem parar.</p>
      </div>

      <div class="align-items-center d-flex flex-column gap-1 p-4">
        <img width="150" src="assets/images/benefit_3.png" />
        <p class="m-0">Ouça qualquer música.</p>
        <p class="m-0">Mesmo no celular ou no tablet.</p>
      </div>

      <div class="align-items-center d-flex flex-column gap-1 p-4">
        <img width="150" src="assets/images/benefit_4.png" />
        <p class="m-0">Pule quantas faixas quiser.</p>
        <p class="m-0">Ouça só as que você curtir.</p>
      </div>
    </div>
  </div>

  <div class="w-full planos pt-2 px-4 pb-5">
   <div class="text-center mb-5">
    <h2>Escolha seu plano</h2>
    <h5>Ouça sem limites no seu celular, alto-falante e em outros  dispositivos.</h5>
   </div>

    <div class="container d-flex gap-3">
      <div *ngFor="let p of planos" class="p-3 rounded-3 bg-white border-1 d-flex flex-column justify-content-between">

        <div>
          <p class="bg-primary w-50 text-white rounded-3 p-2 text-center">
            1 mês grátis
          </p>
          <h1>{{p.title}}</h1>
          <p>{{p.preco}}</p>
          <p>{{p.account}}</p>
          <hr>
          <ul type="none" class="p-0">
            <li *ngFor="let l of p.list">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
              </svg>{{l}}
            </li>
          </ul>
        </div>

        <div class="w-100">
          <a class="btn btn-start w-100" href="#">COMEÇAR</a>
          <p>
            São aplicáveis termos e condições.
            O mês grátis não está disponível
            para usuários que já
            experimentaram o Premium.
          </p>
        </div>
      </div>

    </div>

  </div>
</main>

<footer class="container-fluid">
  <div class="container d-flex justify-content-between py-5">
   <div class="d-flex align-items-center gap-2">
    <a>Legal</a>
    <a>Cookies</a>
    <a>Sobre anúncios</a>
    <a></a>
   </div>

   <div>
     <p class="text-end">Brasil</p>
     <p class="text-white">&copy; 2020 Spotify AB</p>
   </div>
  </div>
</footer>
