header{
  background-color: #509bf6;
}

footer {
  background-color: #000;
  color: #ccc;
}

.bg-img {
  background: url('/assets/images/premium_dancer.png') no-repeat right;
}

.planos {
  background-color: #f8f9fb;
}

.btn-start {
  background-color: #27a844;
  color: #fff;
}
