<header class="header text-white">
  <div class="container-fluid">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <img  width="128" src="assets/images/logo.png" />

        <nav class="d-flex gap-2 fw-bold">
          <a>Premium</a>
          <a>Ajuda</a>
          <a>Baixar</a>
          <a>Inscrever-se</a>
          <a>Entrar</a>
        </nav>
      </div>

      <h1>
        Aproveite 1 mês grátis de
      </h1>

      <h1>
        Premium
      </h1>

      <h2>Depois, apenas R$ 16,90/mês. Cancele quando quiser.</h2>

      <button class="btn btn-success">VER PLANOS</button>

      <p>São aplicáveis termos e condições</p>
    </div>
  </div>
</header>
<main></main>
